@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #f7f7f7;
    --text-foreground: #000000;
    --gray: #404040;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input,
select,
textarea {
  color: var(--text-foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}